<div ng-controller="uSupport.dashboard.admin.controller as vm" class="uSupport dashboard">
	<umb-editor-view>
		<umb-editor-header name="vm.page.title"
						   name-locked="true"
						   hide-description="true"
						   hide-alias="true"
						   hide-icon="true">
		</umb-editor-header>

		<umb-editor-container class="form-horizontal">
			<div class="flex">
				<div class="umb-package-details__main-content">
					<umb-box>
						<umb-box-content>
							<h2 class="bold">uSupport</h2>
							<br />
							<h4 class="bold">What is uSupport</h4>
							<p>uSupport is an feature rich ticketing system designed specifically for the Umbraco. It is a complete ticketing solution that enables users to create, manage, and view tickets and their associated comments. With uSupport, you can quickly and easily create and manage tickets. uSupport is highly customizable, allowing users to set up their own ticket types and define ticket statuses.</p>
							
							<h4 class="bold">Why uSupport</h4>
							<p>Instead of managing your clients Umbraco issues via email. Why not keep them in Umbraco. uSupport is highly flexable and customizable to make sure it fits your needs. No more rummaging through old emails to find details of what needs to be fixed.</p>
							
							<h5>Key features</h5>
							<ul>
								<li>Friendly UI</li>
								<li>Customizable ticket types & statuses</li>
								<li>Comment on tickets</li>
								<li>Email notifications</li>
								<li>Ticketing dashboard</li>
							</ul>

							<h4 class="bold">Need help getting started?</h4>
							Head over to our <a href="https://github.com/Weberistic/uSupport" target="_blank">github</a> or visit our forum over at <a href="https://our.umbraco.com/" target="_blank">umbraco</a>

							<h4 class="bold">uSupport hub</h4>
							<p>
								I am currently working on uSupport hub & node. With uSupport hub you can connect your clients sites to a hub. The hub allows you manage all connected sites tickets. You can manage ticket, ticket types/statuses. All via the hub.
							</p>

						</umb-box-content>
					</umb-box>
				</div>
			</div>
		</umb-editor-container>

	</umb-editor-view>
</div>