<div ng-controller="uSupport.ticketType.overview.controller as vm" class="uSupport ticketTypes">

	<umb-editor-view>
		<umb-editor-header name="vm.page.title"
						   description="vm.page.description"
						   hide-description="false"
						   name-locked="true"
						   description-locked="true"
						   hide-alias="true"
						   hide-icon="true"
						   menu="vm.page.menu">
		</umb-editor-header>

		<umb-editor-container>

			<umb-editor-sub-header>
				<umb-button action="vm.openType('-1?create')"
							type="button"
							button-style="outline"
							state="vm.buttonState"
							label="Create type">
				</umb-button>
			</umb-editor-sub-header>

			<div class="uSupport-row">
				<div class="uSupport-col-12">
					<umb-box>
						<umb-box-content>
							<table class="table mb0" ng-if="vm.ticketTypes.length">
								<thead>
									<tr>
										<th>Icon</th>
										<th>Name</th>
										<th>Alias</th>
										<th>Description</th>
										<th>Uses property</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="type in vm.ticketTypes">
										<td class="status-icon">
											<umb-icon title="{{type.Name}}" icon="{{type.Icon}}" class="{{type.Color}}"></umb-icon>
										</td>
										<td><strong>{{type.Name}}</strong></td>
										<td><strong>{{type.Alias}}</strong></td>
										<td><strong>{{type.Description}}</strong></td>
										<td>
											<umb-icon title="{{type.PropertyId }}" icon="{{ type.PropertyId ? 'icon-check' : 'icon-wrong' }}" ng-class="{'color-green' : type.PropertyId, 'color-red' : !type.PropertyId}"></umb-icon>
										</td>
										<td>
											<umb-button action="vm.openType(type.Id)"
														type="button"
														button-style="link"
														label="Open">
											</umb-button>
										</td>
									</tr>
								</tbody>
							</table>
						</umb-box-content>
					</umb-box>
				</div>
			</div>
		</umb-editor-container>

		<umb-editor-footer>

		</umb-editor-footer>

	</umb-editor-view>


</div>