<div ng-controller="uSupport.dashboard.user.controller as vm" class="uSupport dashboard user">

	<div class="flex uSupport-row">
		<div class="uSupport-col-12">
			<umb-editor-sub-header>
				<umb-editor-sub-header-content-left>
					<umb-button action="vm.createTicket()"
								type="button"
								button-style="outline"
								state="vm.buttonState"
								label="Create ticket">
					</umb-button>
				</umb-editor-sub-header-content-left>
			</umb-editor-sub-header>
		</div>
	</div>

	<div class="flex uSupport-flex-column" ng-if="!vm.loading">
		<div class="umb-package-details__main-content">
			<umb-box>
				<umb-box-header title="Active tickets"></umb-box-header>
				<umb-box-content>
					<active-tickets-list use-long-list="true" />
				</umb-box-content>
			</umb-box>
			<resolved-tickets-list use-long-list="true" />
		</div>

		<div class="umb-package-details__sidebar">
			<umb-box class="form-horizontal">
				<umb-box-header title="Profile"></umb-box-header>

				<umb-box-content>
					<div class="umb-user-cards">
						<div class="umb-user-card umb-outline umb-outline--surrounding">
							<div class="umb-user-card__content" style="box-shadow:none;">
								<umb-badge class="umb-user-card__badge"
										   size="xs"
										   color="success">
									Active
								</umb-badge>
								<div class="umb-user-card__avatar">
									<umb-avatar size="xl"
												color="secondary"
												name="{{vm.user.name}}"
												img-src="{{vm.user.avatars[3]}}"
												img-srcset="{{vm.user.avatars[3]}} 2x, {{vm.user.avatars[4]}} 3x">
									</umb-avatar>
								</div>
								<div class="umb-user-card__name">{{vm.user.name}}</div>

								<div class="umb-user-card__group mb0">
									<span ng-repeat="userGroup in vm.user.userGroups">
										{{userGroup.name}}<span ng-if="$index != vm.user.userGroups.length -1">,</span>
									</span>
								</div>

								<div class="umb-user-card__group mb0">
									{{vm.user.email}}
								</div>
							</div>
						</div>
					</div>
					<div>
						<umb-button action="vm.editProfile()"
									type="button"
									button-style="action"
									state="vm.buttonState"
									label="Edit profile"
									class="full-width-button">
						</umb-button>
					</div>
				</umb-box-content>
			</umb-box>
		</div>
	</div>
</div>