<div ng-controller="uSupport.sort.controller as vm">
	<div class="umb-dialog-body with-footer">
		<div class="umb-pane">

			<div ng-if="vm.error">
				<div class="alert alert-error">
					<div>{{vm.error.errorMsg}}</div>
				</div>
			</div>

			<umb-load-indicator ng-show="vm.loading"></umb-load-indicator>

			<div ng-if="!vm.loading">
				<p class="abstract"><localize key="sort_sortHelp"></localize></p>
				<table class="table table-condensed table-sortable">
					<thead>
						<tr>
							<th>
								<button type="button" ng-click="vm.order('name')" class="btn-reset">
									<localize key="general_name"></localize>
									<span ng-if="vm.sortOrder.column === 'name'">
										<umb-icon icon="{{vm.sortOrder.reverse ? 'icon-navigation-up' : 'icon-navigation-down'}}"></umb-icon>
									</span>
								</button>
							</th>
							<th>
								<button type="button" ng-click="vm.order('sortOrder')" class="btn-reset">
									<localize key="sort_sortOrder"></localize>
									<span ng-if="vm.sortOrder.column === 'sortOrder'">
										<umb-icon icon="{{vm.sortOrder.reverse ? 'icon-navigation-up' : 'icon-navigation-down'}}"></umb-icon>
									</span>
								</button>
							</th>
						</tr>
					</thead>
					<tbody ui-sortable="vm.orderOptions" ng-model="vm.children">
						<tr ng-repeat="item in vm.children">
							<td>{{ item.Name }}</td>
							<td>{{ item.Order }}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>

	<umb-editor-footer>
		<umb-editor-footer-content-right>
			<umb-button type="button"
						button-style="link"
						label-key="general_close"
						action="vm.close()">
			</umb-button>

			<umb-button type="button"
						button-style="success"
						state="vm.buttonState"
						label-key="buttons_save"
						action="vm.sort()">
			</umb-button>
		</umb-editor-footer-content-right>
	</umb-editor-footer>
</div>