<div ng-controller="uSupport.createTicket.controller as vm" class="uSupport">
	<div ng-if="vm.step == 1" class="step">
		<div class="uSupport-row justify-center">
			<div class="uSupport-col-12 mb3" ng-repeat="ticketType in vm.ticketTypes">
				<div class="flex ticket-type-box" ng-click="vm.selectTicketType(ticketType)" ng-class="{'selected' : vm.selectedTicketTypeName == ticketType.Name}">
					<umb-icon icon="{{ ticketType.Icon }}" class="{{ ticketType.Color }} mr3"></umb-icon>
					<div class="flex ticket-type-box-header">
						<h5 class="mb0 mt0">{{ ticketType.Name }}</h5>
						<p class="mb0">{{ ticketType.Description }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="vm.step == 2">
		<umb-property-editor model="model.property" ng-if="!vm.loadingProperty"></umb-property-editor>
	</div>

	<div ng-if="vm.step == 3">
		<umb-property property="property" ng-repeat="property in  model.properties">
			<umb-property-editor model="property"></umb-property-editor>
		</umb-property>
	</div>
</div>