<div ng-controller="uSupport.editUser.controller as vm" class="uSupport">

    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

    <umb-editor-view>
        <umb-editor-header name="'Edit profile'"
                           name-locked="true"
                           hide-alias="true"
                           hide-icon="true"
                           hide-description="true">
        </umb-editor-header>

        <form novalidate val-form-manager>
            <umb-editor-container class="form-horizontal">
                <div class="flex" ng-if="!vm.loading">
                    <div class="umb-package-details__main-content">
                        <umb-box>
                            <umb-box-header title="Profile"></umb-box-header>
                            <umb-box-content>
                                <umb-property property="property" ng-repeat="property in  vm.properties">
                                    <umb-property-editor model="property"></umb-property-editor>
                                </umb-property>
                            </umb-box-content>
                        </umb-box>
                    </div>
                    <div class="umb-package-details__sidebar">
                        <umb-box>
                            <umb-box-content>

                                <umb-avatar style="margin-bottom: 15px;"
                                            color="secondary"
                                            size="xxl"
                                            name="{{vm.user.name}}"
                                            img-src="{{vm.user.avatars[3]}}"
                                            img-srcset="{{vm.user.avatars[4]}} 2x, {{vm.user.avatars[4]}} 3x">
                                </umb-avatar>
                                <umb-progress-bar style="max-width: 120px;"
                                                  ng-if="vm.avatarFile.uploadStatus === 'uploading'"
                                                  progress="{{ vm.avatarFile.uploadProgress }}"
                                                  size="s">
                                </umb-progress-bar>

                                <div class="flex justify-center" ng-if="vm.avatarFile.uploadStatus !== 'uploading'">

                                    <button class="btn-link umb-user-group-preview__action"
                                            ngf-select ng-model="filesHolder"
                                            ngf-change="vm.changeAvatar($files, $event)"
                                            ngf-multiple="false"
                                            ngf-pattern="{{vm.acceptedFileTypes}}"
                                            ngf-max-size="{{ vm.maxFileSize }}">
                                        <localize key="user_changePhoto">Change photo</localize>
                                    </button>


                                    <button ng-if="vm.user.avatars.length > 0"
                                            class="btn-link umb-user-group-preview__action umb-user-group-preview__action--red"
                                            ng-click="vm.clearAvatar()"
                                            prevent-default>
                                        <localize key="user_removePhoto">Remove photo</localize>
                                    </button>

                                </div>
                            </umb-box-content>
                        </umb-box>
                    </div>
                </div>
            </umb-editor-container>

            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                button-style="link"
                                label-key="general_close"
                                action="vm.close()">
                    </umb-button>

                    <umb-button type="button"
                                button-style="success"
                                state="vm.buttonState"
                                label-key="buttons_save"
                                action="vm.save()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </form>
    </umb-editor-view>
</div>