<div ng-controller="uSupport.ticketType.contentApp.controller as vm" class="uSupport">

    <umb-load-indicator ng-if="loading"></umb-load-indicator>

    <div class="uSupport-row" ng-if="!loading">
        <div class="uSupport-col-12">
            <umb-box>
                <umb-box-header title="Settings"></umb-box-header>
                <umb-box-content>

                    <umb-property property="property" ng-repeat="property in model.properties">
                        <umb-property-editor model="property"></umb-property-editor>
                    </umb-property>

                </umb-box-content>
            </umb-box>
        </div>
    </div>
</div>