<div ng-controller="uSupport.ticketStatus.overview.controller as vm" class="uSupport">

	<umb-editor-view>
		<umb-editor-header name="vm.page.title"
						   description="vm.page.description"
						   hide-description="false"
						   name-locked="true"
						   description-locked="true"
						   hide-alias="true"
						   hide-icon="true"
						   menu="vm.page.menu">
		</umb-editor-header>

		<umb-editor-container>

			<umb-editor-sub-header>
				<umb-button action="vm.openStatus('-1?create')"
							type="button"
							button-style="outline"
							state="vm.buttonState"
							label="Create status">
				</umb-button>
			</umb-editor-sub-header>

			<div class="uSupport-row">
				<div class="uSupport-col-12">
					<umb-box>
						<umb-box-content>
							<table class="table mb0" ng-if="vm.ticketStatuses.length">
								<thead>
									<tr>
										<th>Name</th>
										<th>Default</th>
										<th>Active</th>
										<th>Resolved</th>

										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="status in vm.ticketStatuses">
										<td class="status-icon">
											<umb-badge size="s"
													   color="{{status.Color}}"
													   class="">
												{{status.Name}}
											</umb-badge>
										</td>
										<td>
											<umb-icon title="{{status.Default}}" icon="{{ status.Default ? 'icon-check' : 'icon-wrong' }}" ng-class="{'color-green' : status.Default, 'color-red' : !status.Default}"></umb-icon>
										</td>
										<td>
											<umb-icon title="{{status.Active}}" icon="{{ status.Active ? 'icon-check' : 'icon-wrong' }}" ng-class="{'color-green' : status.Active, 'color-red' : !status.Active}"></umb-icon>
										</td>
										<td>
											<umb-icon title="{{!status.Active}}" icon="{{ !status.Active ? 'icon-check' : 'icon-wrong' }}" ng-class="{'color-green' : !status.Active, 'color-red' : status.Active}"></umb-icon>
										</td>
										<td>
											<umb-button action="vm.openStatus(status.Id)"
														type="button"
														button-style="link"
														label="Open">
											</umb-button>
										</td>
									</tr>
								</tbody>
							</table>
						</umb-box-content>
					</umb-box>
				</div>
			</div>
		</umb-editor-container>
	</umb-editor-view>
</div>