<div ng-controller="uSupport.delete.controller as vm" class="uSupport">
	<div class="umb-dialog-body with-footer">
		<div class="umb-pane">
			<p class="abstract">
				<localize key="defaultdialogs_confirmdelete">Are you sure you want to delete</localize>
				<strong>{{currentNode.name}}</strong>?
			</p>
			<div ng-if="vm.children" class="mt3">
				You can't delete this item since these items depends on <strong>{{currentNode.name}}</strong>:

				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Type</th>
							<th><localize key="general_name"></localize></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in vm.children">
							<td>
								<umb-icon icon="{{item.Type == 'ticket' ? 'icon-inbox-full' : 'icon-radio'}}" title="{{item.Type == 'ticket' ? 'Ticket' : 'Notification'}}" ></umb-icon>
							</td>
							<td>{{ item.Name }}</td>
							<td>{{ item.Order }}</td>
							<td>
								<umb-button type="button"
											button-style="link"
											label-key="general_open"
											action="vm.open(item)">
								</umb-button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<umb-editor-footer>
		<umb-editor-footer-content-right>
			<umb-button type="button"
						button-style="link"
						label-key="general_close"
						action="vm.close()">
			</umb-button>

			<umb-button type="button"
						button-style="danger"
						state="vm.buttonState"
						label-key="general_ok"
						action="vm.delete()"
						disabled="vm.children">
			</umb-button>
		</umb-editor-footer-content-right>
	</umb-editor-footer>
</div>