<div ng-controller="uSupport.ticketStatus.edit.controller as vm" class="uSupport">

	<umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

	<form novalidate val-form-manager name="formName" ng-submit="vm.save()">
		<umb-editor-view ng-if="!vm.loading">
			<umb-editor-header name="vm.page.title"
							   hide-description="true"
							   name-locked="false"
							   hide-alias="false"
							   alias="vm.page.alias"
							   icon="vm.page.icon"
							   hide-icon="false"
							   show-back-button="true"
							   on-back="vm.close()"
							   navigation="vm.page.navigation"
							   menu="vm.page.menu">
			</umb-editor-header>

			<umb-editor-container class="form-horizontal">
				<umb-editor-sub-views sub-views="vm.page.navigation" model="vm"></umb-editor-sub-views>
			</umb-editor-container>

			<umb-editor-footer>
				<umb-editor-footer-content-right>
					<umb-button type="button"
								button-style="link"
								label-key="general_close"
								action="vm.close()">
					</umb-button>

					<umb-button type="submit"
								button-style="success"
								state="vm.buttonState"
								label-key="buttons_save"
								action="vm.save()">
					</umb-button>
				</umb-editor-footer-content-right>
			</umb-editor-footer>

		</umb-editor-view>
	</form>
</div>