<div ng-controller="uSupport.openTicket.controller as vm" class="uSupport" id="openTicket">
    <form novalidate val-form-manager class="mb0">

        <div class="control-group umb-control-group">
            <div class="control-header">
                <div class="control-label">
                    Status
                </div>
            </div>
            <div class="controls">
                <div class="db umb-property-editor">
                    <umb-badge size="s"
                               color="{{vm.ticket.Status.Color}}">
                        {{vm.ticket.Status.Name}}
                    </umb-badge>
                </div>
            </div>
        </div>

        <div class="control-group umb-control-group">
            <div class="control-header">
                <div class="control-label">
                    Type
                </div>
            </div>
            <div class="controls">
                <div class="db umb-property-editor">
                    <div class="flex align-items-center">
                        <umb-icon title="{{vm.ticket.Type.Name}}" icon="{{vm.ticket.Type.Icon}}" class="{{vm.ticket.Type.Color}} umb-node-preview__icon"></umb-icon>

                        <div class="umb-node-preview__content">
                            <div class="umb-node-preview__name">
                                {{vm.ticket.Type.Name}}
                            </div>
                            <div class="umb-node-preview__description">
                                {{vm.ticket.Type.Description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="vm.customProperties" class="customProperty">
            <umb-property property="property" ng-repeat="property in  vm.customProperties">
                <umb-property-editor model="property"></umb-property-editor>
            </umb-property>    
        </div>

        <div class="control-group umb-control-group">
            <div class="control-header">
                <div class="control-label">
                    Submitted
                </div>
            </div>
            <div class="controls">
                <div class="db umb-property-editor">
                    {{vm.ticket.Submitted | date:'yyyy-MM-dd'}}
                </div>
            </div>
        </div>

        <div class="control-group umb-control-group" ng-if="vm.ticket.Resolved">
            <div class="control-header">
                <div class="control-label">
                    Resolved
                </div>
            </div>
            <div class="controls">
                <div class="db umb-property-editor">
                    {{vm.ticket.Resolved | date:'yyyy-MM-dd'}}
                </div>
            </div>
        </div>

        <umb-property property="property" ng-repeat="property in  vm.properties">
            <umb-property-editor model="property"></umb-property-editor>
        </umb-property>
    </form>

    <div class="control-group umb-control-group comments-label">
        <div class="control-header">
            <div class="control-label">
                Comments
            </div>
        </div>
    </div>

    <uSupport-comments comments="model.comments" admin-view="false" ticket-id="vm.ticket.Id" user-id="vm.user.id"></uSupport-comments>
</div>