<div ng-controller="uSupport.ticket.contentApp.controller as vm" class="flex">
    <div class="umb-package-details__main-content">
        <umb-box class="form-horizontal">
            <umb-box-header title="Ticket"></umb-box-header>
            <umb-box-content>

                <umb-property property="property" ng-repeat="property in  model.properties">
                    <umb-property-editor model="property"></umb-property-editor>
                </umb-property>

                <div class="control-group umb-control-group comments-label">
                    <div class="control-header">
                        <div class="control-label">
                            Comments
                        </div>
                    </div>
                </div>

                <uSupport-comments comments="model.ticket.Comments" ticket-id="model.ticket.Id" user-id="model.user.id"></uSupport-comments>

            </umb-box-content>
        </umb-box>
    </div>

    <div class="umb-package-details__sidebar">
        <umb-box>
            <umb-box-header title="Details"></umb-box-header>
            <umb-box-content>
                <div class="umb-property">
                    <div class="control-group umb-control-group no-border mb3">
                        <label class="control-label">
                            <span>Type</span>
                        </label>
                        <div class="controls">
                            <div class="flex align-items-center">
                                <umb-icon title="{{model.ticket.Type.Name}}" icon="{{model.ticket.Type.Icon}}" class="{{model.ticket.Type.Color}} umb-node-preview__icon"></umb-icon>

                                <div class="umb-node-preview__content">
                                    <div class="umb-node-preview__name">
                                        {{model.ticket.Type.Name}}
                                    </div>
                                    <div class="umb-node-preview__description">
                                        {{model.ticket.Type.Description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="umb-property">
                    <div class="control-group umb-control-group no-border mb3">
                        <label class="control-label">
                            <span>Status</span>
                        </label>
                        <div class="controls">
                            <umb-badge size="s"
                                       color="{{model.ticket.Status.Color}}">
                                {{model.ticket.Status.Name}}
                            </umb-badge>
                        </div>
                    </div>
                </div>
                <div class="umb-property">
                    <div class="control-group umb-control-group no-border mb3">
                        <label class="control-label">
                            <span>Author</span>
                        </label>
                        <div class="controls">
                            {{ model.ticket.Author.name }}
                        </div>
                    </div>
                </div>
                <div class="umb-property">
                    <div class="control-group umb-control-group no-border mb3">
                        <label class="control-label">
                            <span>Submitted</span>
                        </label>
                        <div class="controls">
                            {{ model.ticket.Submitted | date:'yyyy-MM-dd'}}
                        </div>
                    </div>
                </div>
                <div class="umb-property" ng-if="model.ticket.LastUpdatedBy">
                    <div class="control-group umb-control-group no-border mb3">
                        <label class="control-label">
                            <span>Last updated by</span>
                        </label>
                        <div class="controls">
                            {{ model.ticket.LastUpdatedBy }}
                        </div>
                    </div>
                </div>
                <div class="umb-property" ng-if="model.ticket.Resolved">
                    <div class="control-group umb-control-group no-border mb3">
                        <label class="control-label">
                            <span>Resolved</span>
                        </label>
                        <div class="controls">
                            {{ model.ticket.Resolved | date:'yyyy-MM-dd'}}
                        </div>
                    </div>
                </div>
                <div class="umb-property">
                    <div class="control-group umb-control-group no-border mb2">
                        <label class="control-label">
                            <span>Id</span>
                        </label>
                        <div class="controls">
                            {{ model.ticket.ExternalTicketId }}
                        </div>
                    </div>
                </div>
            </umb-box-content>
        </umb-box>
    </div>
</div>