<div ng-controller="uSupport.tickets.edit.controller as vm" class="uSupport" id="openTicket">

	<umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

	<form novalidate val-form-manager name="formName" ng-model="vm.ticket" ng-submit="vm.save(formName)">
		<umb-editor-view ng-if="!vm.loading">
			<umb-editor-header name="vm.page.title"
							   description="vm.page.description"
							   menu="vm.page.menu"
							   hide-description="false"
							   name-locked="true"
							   description-locked="true"
							   hide-alias="true"
							   show-back-button="true"
							   on-back="vm.close()"
							   navigation="vm.page.navigation"
							   hide-icon="true">
			</umb-editor-header>

				<umb-editor-container>
					<umb-editor-sub-views sub-views="vm.page.navigation" model="vm"></umb-editor-sub-views>
				</umb-editor-container>

			<umb-editor-footer>
				<umb-editor-footer-content-right>
					<umb-button type="button"
								button-style="info"
								label-key="buttons_save"
								state="vm.SavebuttonState"
								action="vm.save(false)">
					</umb-button>
					<umb-button type="button"
								button-style="success"
								label="Save and send email"
								state="vm.SaveAndSendbuttonState"
								action="vm.save(true)">
					</umb-button>
				</umb-editor-footer-content-right>
			</umb-editor-footer>
		</umb-editor-view>
	</form>
</div>