
<div class="history">
    <div class="history-line" aria-hidden="false"></div>
    <div class="history-item mb5" style="align-items: flex-start;" ng-repeat="comment in vm.comments">
        <div class="history-item__break" ng-class="{'adminView' : vm.adminView}">
            <div class="history-item__avatar">
                <umb-avatar size="xs"
                            name="{{comment.User.name}}"
                            color="secondary"
                            img-src="{{comment.User.avatars[0]}}"
                            img-srcset="{{comment.User.avatars[1]}} 2x, {{comment.User.avatars[2]}} 3x">
                </umb-avatar>
            </div>
            <div>
                <div>{{comment.User.name}}</div>
                <div class="history-item__date">{{comment.Date | date:'yyyy-MM-dd'}}</div>
            </div>
        </div>
        <div>
            {{comment.Comment}}
        </div>
    </div>

</div>

<div>
    <textarea class="umb-property-editor umb-textarea textstring" placeholder="Enter comment here" rows="5" ng-model="vm.comment"></textarea>
</div>

<div class="flex justify-end mt3" style="max-width:800px;">
    <umb-button type="button"
                button-style="success"
                label="Comment"
                state="vm.commentbuttonState"
                action="vm.addComment()">
    </umb-button>
</div>
