.uSupport *, ::after, ::before {
	box-sizing: border-box;
}

/*Dashboard*/
@media (max-width:1200px) {

	.uSupport.dashboard.user > .uSupport-flex-column {
		flex-direction: column;
		align-items: end;
	}

	.uSupport.dashboard.user .umb-package-details__main-content {
		min-width: 100%;
		margin: 0;
	}

	.uSupport.dashboard.user .umb-package-details__sidebar {
		max-width: 350px;	
	}
}

.uSupport .step .ticket-type-box {
	border: 1px solid #ccc;
	padding: 1rem;
	cursor: pointer;
	width: 100%;
	height: 100%;
	align-items: end;
	transition: background-color .5s;
}

	.uSupport .step .ticket-type-box:hover {
		background-color: #f2f3f4;
	}

	.uSupport .step .ticket-type-box-header{
		height:100%;
		flex-direction:column;
		justify-content: center;
	}

	.uSupport .step .ticket-type-box.selected {
		background-color: rgba(43, 195, 124, .2);
		border-color: rgba(43, 195, 124, .2);
	}

	.uSupport .step .ticket-type-box .umb-icon {
		width: 3em;
		height: 3em;
	}

	.uSupport .step .ticket-type-box p {
		font-size: .75rem
	}

.uSupport .table {
	box-shadow: none;
	margin-bottom: 0;
}

.uSupport.dashboard .table .status-icon .umb-icon,
.uSupport.ticketTypes .table .status-icon .umb-icon {
	width: 2em;
	height: 2em;
}

.uSupport#openTicket umb-property:last-of-type .umb-control-group:after {
	background-color: #f6f6f7;
	display: block;
	height: 1px;
	margin-top: 20px;
}

.uSupport#openTicket .customProperty{
	margin-bottom:20px;
}

.uSupport#openTicket .comments-label {
	margin-top: 20px;
}

.uSupport#openTicket .comments-label::after {
	background-color: transparent;
}

.uSupport#openTicket .history-item__break {
	min-width: 165px;
}

.uSupport#openTicket .history-item__break.adminView {
	min-width: 180px;
}

.uSupport#openTicket .umb-node-preview__action.umb-node-preview__action--red {
	display: none;
}

.uSupport .umb-control-group .control-header .control-label {
	white-space: initial;
}
/* COLS */
.uSupport .uSupport-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.uSupport .uSupport-no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.uSupport .uSupport-col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.uSupport .uSupport-col-9 {
	flex: 0 0 75%;
	max-width: 75%;
}


.uSupport .uSupport-col-8 {
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}

.uSupport .uSupport-col-7 {
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.uSupport .uSupport-col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.uSupport .uSupport-col-4 {
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.uSupport .uSupport-col-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.uSupport .uSupport-col-1 {
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.uSupport .uSupport-col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}

.uSupport .uSupport-col-12,
.uSupport .uSupport-col-9,
.uSupport .uSupport-col-8,
.uSupport .uSupport-col-7,
.uSupport .uSupport-col-6,
.uSupport .uSupport-col-4,
.uSupport .uSupport-col-3,
.uSupport .uSupport-col-1,
.uSupport .uSupport-col-auto {
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}

.uSupport .uSupport-no-gutters .uSupport-col-12,
.uSupport .uSupport-no-gutters .uSupport-col-9,
.uSupport .uSupport-no-gutters .uSupport-col-8,
.uSupport .uSupport-no-gutters .uSupport-col-7,
.uSupport .uSupport-no-gutters .uSupport-col-6,
.uSupport .uSupport-no-gutters .uSupport-col-3,
.uSupport .uSupport-no-gutters .uSupport-col-1,
.uSupport .uSupport-no-gutters .uSupport-col-auto {
	padding-right: 0;
	padding-left: 0;
}

.uSupport .no-border.umb-control-group:after {
	content: none;
}

.uSupport .align-items-center {
	align-items: center;
}

.uSupport .align-items-end {
	align-items: flex-end;
}

.d-none{
	display:none!important;
}

.uSupport-umb-property-last {
	border-top: 1px solid #f3f3f5;
	padding-top: 20px;
}

	.uSupport-umb-property-last .control-group{
		margin-bottom:10px;
	}

	.uSupport-umb-property-last .control-group::before,
	.uSupport-umb-property-last .control-group:after {
		content: none !important;
	}

.uSupport .full-width-button .umb-button,
.uSupport .full-width-button .btn-action {
	display: block;
	width: 100%;
}

.uSupport .umb-code-snippet .umb-code-snippet__header{
	margin-top: 0;
}

.uSupport.settings .settings-row {
	padding-bottom: 1rem;
	border-bottom: 1px solid #e9e9eb
}

.uSupport.settings .settings-row:last-of-type{
	border:none;
	padding-bottom: 0;
}

.uSupport.settings .settings-row i{
	font-size:13px;
}

.uSupport.settings .umb-icon {
	font-size: 1rem;
}

.uSupport .umb-node-preview-add{
	cursor: pointer;
}
